$header-height: 34px;

$toolbar-height: 40px;

$formula-height: 24px;
$formula-info-color: #c0c0c0;
$formula-input-color: #000;
$formula-info-cell-width: 40px;

$excel-row-height: 24px;
$excel-cell-width: 120px;

$base-color: #888;
$secondary-color: #000;
$border-color: #c0c0c0;
$border-hover-color: #c0c0c0;
$border-focus-color: #1a73e8;